@model BankOfSimba.Models.BankAccount
<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bankaccount</title>
</head>
<body>
    @Model.Name
    @Model.Balance
    @Model.Animaltype
</body>
</html>